/* Created by: Evan Cagiannos
 * Created on: March 7 2020
 * This CSS file defines the style for index.html ICS2O-Unit1-04-HTML-CSS
*/

body {
  background-color: powderblue;
}

h1 {
  background-color: rgb(255 165 0);
  color: hsl(147deg 50% 47%);
  padding: 40px;
  text-align: center;
}

p {
  background-color: #ffa8ef;
}